<div class="col-md-8 offset-md-3">
<h3>Customer information</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group mt-2">
        <label>Fullname</label>
        <input type="text" class="form-control" id="fullname"
        [(ngModel)] = "customer.fullname" name="fullname">
    </div>

    <div class="form-group mt-2">
        <label>Address</label>
        <input type="text" class="form-control" id=""
        [(ngModel)] = "customer.address" name="address">
    </div>

    <div class="form-group mt-2">
        <label>Bloodgroup</label>
        <input type="text" class="form-control" id="bloodgroup"
        [(ngModel)] = "customer.bloodgroup" name="bloodgroup">
    </div>

    <div class="form-group mt-2">
        <label>Age</label>
        <input type="text" class="form-control" id="age"
        [(ngModel)] = "customer.age" name="age">
    </div>

    <button class="btn btn-success mt-3" type="submit">Submit</button>

</form>
</div>